PORT=4001
MONGO_URI=mongodb://127.0.0.1:27017/workforce_marketplace
JWT_SECRET=change_me
JWT_EXPIRES_IN=7d
USER_SERVICE_URL=http://localhost:4002
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change_me_admin_password
